.main-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.card {
  width: 20%;
  height: auto;
  margin: 15px;
}
.card:hover {
  box-shadow: 2px 2px 4px gray;
}
.card img {
  width: 100%;
  height: auto;
}
