.main-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.card {
  width: 29%;
  height: auto;
  margin: 15px;

  border-radius: 5px;
}
.card:hover {
  box-shadow: 2px 2px 4px #002245;
}
.card img {
  width: 100%;
  height: 200px;
}
