.sidebar {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 400px;
  margin-top: 20px;
  margin-left: 20px;
  box-shadow: 2px 2px 4px black;
  margin-right: 50px;
}
.sidebar a {
  margin: 5px;
  margin-left: 10px;
}
